/*selector universal*/
*{
    padding: 0;
    margin: 0;
}

/*selector de etiqueta*/
body{
    background-color: #1c0803;
    color: white;
}

h3{
     font-size: 100%;
    color: rgb(49, 49, 49);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/*selector de id*/
#contenedor{
    width: 900px;
    height: 1000px;
    background-color: #e0d6b7;
}

#encabezado{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 70%;
    margin: 2em;
    border-radius: 5px;
    text-align: center;
    color: #33221a;
}

#menu{
    height: 4%;
    background-color: #775e42;
    margin: 1em;
    border-radius: 5px;
}

ul{
    text-align: center;
    padding: 10px;
}

li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}

li a:hover{
    color: crimson;
    text-decoration: none;
    list-style: none;
}

.texto{
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: rgb(31, 31, 31);
}

#contenido{
    height: 80%;
    width: 58%;
    background-color: #bfb39a;
    margin: 0.5em;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}

.img1{
    width: 33%;
    margin-right: 5px;
    border-radius: 15px;
}

.img2{
    width: 25%;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 15px;
}

.img3{
    width: 28%;
    margin-left: 5px;
    border-radius: 15px;
}

.img{
    width: 55%;
    border-radius: 15px;
    justify-items: center;
}

.encabezado-articulo{
    text-align: center;
    color: rgb(7, 7, 7);
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#fueraSeccion{
    height: 80%;
    width: 35%;
    background-color: #bfb39a;
    margin: 0.5em;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
}

.encabezado-aside{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    color: rgb(0, 0, 0);
    margin: 1em 1em;
}

.h3N{
    color: black;
    font-size: 100%;
}

.lista-aside li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    justify-content: left;
    color: #181818;
   
}

#pie{
    height: 10px;
    margin: 1.5em;
    text-align: center;
    padding: 5px;
}

#pie h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    font-size: 25px;
    background-color: #81715b;
    color: #1c0803;
}